# ===== Python Virtual Environment =====
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# ===== Buildozer / Android =====
.buildozer/
bin/
*.apk
*.aab
*.obb

# ===== Python / UV / Packaging =====
*.egg-info/
dist/
build/

# ===== OS / Editor / IDE =====
.DS_Store
Thumbs.db
*.swp
*.swo
.vscode/
.idea/
*.log

# ===== Temporary / Cache =====
*.tmp
*.TMP
*.bak
*.orig
*.Identifier

# ===== Windows Zone.Identifier =====
*.Zone.Identifier
